
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeIsBug.Admin 登录页</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/Global.css" rel="stylesheet" />
    <style type="text/css">
        html {
            background: #f3f3f3;
        }
    </style>
</head>
<body>
    <div class="login_page">
        <h1>欢迎登录 CodeIsBug.Admin 管理系统</h1>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline input-custom-width">
                    <input type="text" name="username" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline input-custom-width">
                    <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline input-custom-width">
                    <input type="text" name="captcha" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                    <div class="captcha">
                        <img id="codeImg" title="数字字母混合验证码" alt="点击切换" asp-append-version="true" style="cursor:pointer;" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline input-custom-width">
                    <button type="button" class="layui-btn input-custom-width" lay-submit="" lay-filter="login">立即登陆</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use(['form','layer','jquery'], function () {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.jquery;
            var _guid;
            $(function () {
                _guid = guid();
                var codeUrl = "@Url.Action("GetCode","VerifyCode")?guid="+_guid;
                $("#codeImg").attr("src", codeUrl + "&v=" + (new Date().getTime()));

                $("#codeImg").click(function () {
                    $("#codeImg").attr("src", codeUrl + "&v=" + (new Date().getTime()));
                });
            });
            function guid() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            };
            //监听提交
            form.on('submit(login)', function (data) {
                loading = layer.load(2, {
                    shade: [0.5, '#000'] //0.2透明度的白色背景
                });
                var obj = {
                    guid: _guid,
                    code: data.field.captcha
                };
                //校验验证码
                $.getJSON('@Url.Action("CheckCode","VerifyCode")', obj, function (res) {
                    if (res.Code != 1) {
                        layer.close(loading);
                        layer.msg(res.Message, { icon: 2, anim: 6, time: 1000 });
                        var codeUrl = "@Url.Action("GetCode","VerifyCode")?guid="+_guid;
                        $('.captcha img').attr('src', codeUrl);
                    } else {
                        var param = data.field;
                        $.post('@Url.Action("Login","Account")', param, function (res) {
                        if (res.Code == 1) {
                            layer.close(loading);
                            layer.msg(res.Message, { icon: 1, time: 1000 }, function () {
                                location.href = '@Url.Action("Index","Home")';
                            });
                        } else {
                            layer.close(loading);
                            layer.msg(res.Message, { icon: 2, anim: 6, time: 1000 });
                            $('.captcha img').attr('src', "@Url.Action("GetCode ","VerifyCode")?random=" + Math.random());
                           }
                        });
                    }
                });
                return false;
            });
        });

    </script>
</body>
</html>
